#container span {
  color: #f16830;
  display: inline-block;
  height: 200px;
  text-align: center;
  width: 37.5%;
}

#container .other-element {
  display: inline-block;
  height: 200px;
  width: 62.5%;
