html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#container, .column {
  height: 100%;
  display: flex;
}

/* Use flex-basis when you want to give something a set width in pixels */
/* After flex-basis is done assigning space, flex-grow assigns what is left */

.column.red {
  background-color: red;
  flex-basis: 250px;
}

.column.green {
  background-color: green;
  flex-grow: 1;
}

.column.blue {
  background-color: blue;
  flex-basis: 800px;
}
